.content{
    margin: 300px 500px;
    font-size: 300%;
    text-align: center;
    justify-content: center;
    font-family: ;
}

.cont2{
    margin:  0px 500px;
    padding-top: 10px;
    font-size: 300%;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}